<footer >
  <div class="row container">
    <div  class="col-sm-5">
      <a class="company-footer" href="#">SoupToGo</a>
      <p>326 Washington Avenue <br> Jackson, Missisippi</p>
    </div>
    <div class="col-sm-2">
      <h5>Company</h5>
      <ul>
        <li>About Us</li>
        <li>Contact Us</li>
        <li>FAQ</li>
        <li>Blog</li>
      </ul>
    </div>
    <div class="col-sm-3">
      <h5>Legal</h5>
      <ul>
        <li>Terms And Conditions</li>
        <li>Delivery And Returns</li>
        <li>Privacy Policy</li>
        <li>Terms of Supply</li>
      </ul>

    </div>
    <div class="col-sm-2">
      <h5>Social</h5>
      <ul>
        <li>Facebook</li>
        <li>Linkdin</li>
        <li>Instagram</li>
        <li>Whatsapp</li>
      </ul>


    </div>
  </div>
</footer>
<hr>
<div style="padding-left : 2rem;"class="container">
  <p>© 2020 Page made by Josue Arreola. All rights reserved</p>
</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="./javascript/navbar.js" charset="utf-8"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
