<%- include("partials/header") -%>
  <div style="padding : 0 30px;" class="container">
    <form action="/register" method="POST" class="form-signin">

      <h1 class="h3 mb-3 font-weight-normal">Register to SoupToGo!</h1>

      <input type="text" name="firstName" class="form-control top" placeholder="First Name" required autofocus>
      <input type="text" name="lastName" class="form-control middle" placeholder="Last Name" required>
      <input type="text" name="address" class="form-control middle" placeholder="Address" required>
      <input type="email" name="username" class="form-control middle" placeholder="Email" required>
      <input type="password" name="password" class="form-control bottom" placeholder="Password" required>
      <button class="btn btn-lg btn-success btn-block" type="submit">Register Me Up!</button>
    </form>

  </div>

  <%- include("partials/footer") -%>