*{
  font-family: 'Ubuntu',sans-serif;
}
h1{
  margin : 1rem 0;
}
h2{
  color: #7b8185;
  font-size: 1.4rem;
}
h5{
  margin-top: 1rem;
}
h6{
   color : #7b8185;
}
li{
  padding: 0;
  style : none;
  list-style: none;
}
ul{
  padding: 0;
  style : none;
  list-style: none;
}
.navbar__container{
  max-width: 100%;
  padding: 1rem 6%
}
@media (max-width : 1000px){
  .collapse.show {
    display: block;
    background-color: #20cb38;
    padding: 0 6%;
    border-radius: 8px;
  }
}
.scrolled, .navbar-brand-white{
  background-color: #20cb38;
  color: white !important;
}
.container{
  padding: 0 15px;
}

@media (min-width : 0px){
  .container{
    max-width: 100%
  }
}
.navbar-brand{
  font-size: 1.6rem;
  color:   #20cb38;
  font-weight: bold;
  padding: 1rem 6%;
}
.navbar-light .navbar-brand{
  font-size: 1.6rem;
  color:   #20cb38;
  font-weight: bold;
}
.navbar-light .navbar-nav .nav-link{
  color: white;
  font-family: 'Ubuntu',sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
}
/* .navbar-light .navbar-nav .nav-link:hover{
  color: white;
} */
.cart{
  margin-left: 0.2rem;
  padding: 0 0.3rem;
  border-radius: 8px;
}
.cart:hover{
  background-color: white;
  border-color: white;
  color : #20cb38 ;
}
.cart-title-white{
  border-color: white;
  background-color: white;
  color: black;
}
.cart-title-white:hover{
  border-color: black;
  background-color: black;
}
.cart-text-green{
  color:  #20cb38 !important;
}
.cart-text-green:hover{
  color:  white !important;
}
.main-img{
  -webkit-clip-path : polygon( 0 0, 100% 0, 100% 100%, 18% 100%);
  clip-path : polygon( 0 0, 100% 0, 100% 100%, 18% 100%);
  background-image: url("https://img5.goodfon.com/wallpaper/nbig/2/25/limon-tarelka-khleb-sup-pomidory-tomaty-spetsii-sol-chechevi.jpg");
  background-position: center;
  background-size: cover;
  height: 500px;
  width: inherit;
}
.no-marginpadding{
  padding: 0;
  margin: 0;
}
.vertical-center{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  padding: 0 14%;
}
.btn-getstarted{
  margin: 1.5rem 0;
  padding: 1rem 2rem;
  font-family: 'Ubuntu',sans-serif;
  font-size: 1rem;
  border-radius: 5%;
  border: none;
  background-color: #20cb38;
  color: white;
}
#features{
  background-color: #20cb38;
}
.wrapper{
  margin: 0 100px;
  color: white;
  text-align: center;
  padding : 3% 0;
}
.feature-box{
  padding: 5%;
}
.icon{
  margin: 1.2rem 0;
}
#menu{
  padding: 4% 0;
  text-align: center;
}
.card{
  border-radius: 1.2rem;
  cursor: pointer;
}
.card:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-img-top{
  border-radius: 1.2rem;
  height: 10vw;
  object-fit: cover;
}
.card-body{
  padding: 0.4rem 1.25rem;
}
.card-text{
  color: #212529;
}
.card-text:hover{
  color: #212529;
}
.carousel-item{
  padding: 1% 15%;
}
.carousel-control-prev-icon:after{
  /* content: '<';
font-size: 55px;
color: red; */
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;

  /* background-image: url("https://lh3.googleusercontent.com/proxy/70Fimto-OjzERPJ6jinX6-tix8AA9SgjJTPvrQ8qrBjtb1dJshJQ9-V6AobAEOwNVlJkGBbJN_yB376yEZ7p3SwiYZs4sC4"); */
}
.carousel-control-next-icon{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRnozj4RXyGf0Y_-YnoKMe3nUC-8PCGZxAgXg&usqp=CAU");
}
.icon-star{
  color : yellow;
  display: inline-block;
}


#download{
  position: relative;
  background-image: url("https://www.chinchinrestaurant.com.au/sydney/wp-content/uploads/sites/4/2019/07/ChinChin_Credit_StevenWoodburn_20190411_Selects-5.jpg");
  background-size: cover;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
}
.center-vertical-horizontal{
  background-color: rgba(255,255,255,0.8);
  padding: 2%;
  text-align: center;
  position: absolute;
  top: 50%;
  left : 50%;
  -ms-transform : translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.btn-download{
  margin: 3% 3% 3% 0;
  margin-right: 1rem;
  font-family: 'Ubuntu',sans-serif;
  font-weight: 400;
  padding: .5rem 1rem;
  border-radius: 6%;
  border : none;
  color : white;
  background-color: black;
}
footer{
  padding: 3% 0;
}
.company-footer{
  color: #20cb38;
  font-weight: 600;
  font-size: 1.8rem;
}
/*USER SOUP VIEW*/
.userSoupContainer{
  margin: 2.4rem 8rem;

}
.userSoupDescription{
  padding: 0 3rem;
}

.userSoupImg{
  border-radius: 1.2rem;
  width:inherit;
  height: 30vw;
  object-fit: cover;
}
.userSoupBtnMax, .userSoupBtnMin{
  color: #20cb38;
  border-color: #20cb38;
  font-weight: 500;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.userSoupQuantity{
  margin : 0 0.4rem;
}
.userSoupAddToCart{
  display: block;
  color: #20cb38 ;
  margin-top: 1.2rem;
  background-color: transparent;
  background-image: none;
  border-color: #20cb38 !important;
}
/*REGISTER*/
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.middle{
  border-radius: 0;
  margin-bottom: -1px;
}
.bottom{
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*CART*/
.cartImg{
  border-radius: 100%;
  width:inherit;
  height: inherit;
  object-fit: cover;
}
.cart-row{
  margin-top: 1.3rem;
}
.cart__wrapper{
  width: 100%;
  padding: 1rem 6%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}
.cart__Image{
  border-radius: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.cart__quantity{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  align-self: center;
}
.cart__price{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: flex-end;
}
.cart__finalPrice{
  padding: 1rem 6%;
}
.finalPrice {
  text-align: end;
}
